# Node.js
node_modules/
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*

# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# 临时/大文件
*.swp
*.swo
*.tmp
data.zip
*.zip
*.tar
*.tar.gz
*.rar

# VSCode
.vscode/


/data
.idea
config/volumes
frontend/node_modules
/uploads
/processed_pdfs
